# .env.example

# MongoDB URI
MONGODB_URI=your_mongodb_uri_here

# JWT Secret
JWT_SECRET=your_jwt_secret_here

# Application Port
PORT=your_port_here

# Node Environment
NODE_ENV=your_node_environment_here